<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">
            jdbc:h2:C:\JavaLessons\JavaWeb\java-web\spring-udemy-lessons\hibernate\databases\hb_student_tracker;schema=HB_05_MANY_TO_MANY
        </property>
        <property name="connection.username">hbstudent</property>
        <property name="connection.password">hbstudent</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <mapping class="com.luv2code.hibernate.demo.entity.Student"/>
        <mapping class="com.luv2code.hibernate.demo.entity.Course"/>
        <mapping class="com.luv2code.hibernate.demo.entity.Review"/>
        <mapping class="com.luv2code.hibernate.demo.entity.Instructor"/>
        <mapping class="com.luv2code.hibernate.demo.entity.InstructorDetail"/>
    </session-factory>

</hibernate-configuration>