<!DOCTYPE html>
<html lang="en">
<head>
    <title>Questioner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<form action='/sessionSet' method="post">
    <label>Name</label>
    <input name='name' />
    <label>Surname</label>
    <input name='surname' />
    <button>Авторизироваться</button>
</form>

</body>
</html>